/*
 * Box-sizing-model
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive images
*/
img {
  max-width: 100%;
  height: auto;
}
/*
 * Cursor change on hover on Buttons
*/
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
.clear {
  clear: both;
  height: 0;
  width: 0;
  visibility: hidden;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
ul,
li {
  margin: 0;
  padding: 0;
}
.d-none {
  display: none;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
  /* 10px * 1.6 = 16px */
  font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens - adaptive styles bofore 1200px */
/* Medium Devices, Desktops - adaptive styles bofore 992px */
/* Small Devices, Tablets - adaptive styles bofore 768px */
/* Extra Small Devices, Phones - adaptive styles bofore 480px */
/* Custom, iPhone Retina - adaptive styles bofore 320px */
.navigation {
  position: absolute;
  left: 0;
  right: 15px;
}
.navigation ul.navigation__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
}
@media (max-width: 917px) {
  .navigation ul.navigation__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    display: none;
    z-index: 1;
    position: fixed;
    background-color: #64d8ff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.navigation ul.navigation__list--open {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.navigation ul.navigation__list li {
  list-style-type: none;
  margin-right: 30px;
}
@media only screen and (max-width: 917px) {
  .navigation ul.navigation__list li {
    margin-bottom: 20px;
  }
}
.navigation ul.navigation__list li:last-child {
  margin-right: 0;
}
.navigation a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in;
  font-weight: 500;
}
.navigation a:hover,
.navigation a:focus,
.navigation a:active {
  color: #ffe400;
}
.navigation__list-btn {
  padding: 12px 25px;
  border-radius: 20px;
  background-color: #ff6f02;
  margin-left: 25px;
}
.navigation__list-tel {
  margin: 0 60px;
  font-size: 24px;
  letter-spacing: 1.2px;
}
.navigation__list-soc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation__list-soc img {
  width: 25px;
  height: 25px;
}
@media only screen and (max-width: 917px) {
  .navigation__list-soc li {
    margin-bottom: 0;
  }
}
ul.navigation__list-soc-list {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 917px) {
  ul.navigation__list-soc-list {
    margin-right: -45px;
  }
}
.cmn-toggle-switch {
  display: block;
  position: absolute;
  top: 10px;
  right: 16px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 5;
  width: 50px;
  height: 45px;
  font-size: 0;
  text-indent: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
@media (min-width: 918px) {
  .cmn-toggle-switch {
    display: none;
  }
}
.cmn-toggle-switch:focus {
  outline: none;
}
.cmn-toggle-switch span {
  display: block;
  position: absolute;
  top: 20px;
  left: 5px;
  right: 5px;
  height: 5px;
  background: white;
}
.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #fff;
  content: "";
}
.cmn-toggle-switch span::before {
  top: -12px;
}
.cmn-toggle-switch span::after {
  bottom: -12px;
}
.cmn-toggle-switch__htx {
  background: transparent;
}
.cmn-toggle-switch__htx span {
  -webkit-transition: background 0 0.3s;
  transition: background 0 0.3s;
}
.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0;
  transition-delay: 0.3s, 0;
}
.cmn-toggle-switch__htx span::before {
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}
.cmn-toggle-switch__htx span::after {
  -webkit-transition-property: bottom, -webkit-transform;
  transition-property: bottom, transform;
}
/* active state*/
.cmn-toggle-switch__htx.active {
  position: fixed;
}
.cmn-toggle-switch__htx.active span {
  background: none;
}
.cmn-toggle-switch__htx.active span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cmn-toggle-switch__htx.active span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
  -webkit-transition-delay: 0, 0.3s;
  transition-delay: 0, 0.3s;
}
.header {
  position: absolute;
  width: 100%;
  height: 75px;
  background-color: #64d8ff;
  background: linear-gradient(90deg, #e5e5e5 0%, #000000 0%, #64d8ff 55%);
  padding-top: 5px;
  top: 0;
  z-index: 2;
}
@media (max-width: 500px) {
  .header {
    background: linear-gradient(90deg, #e5e5e5 0%, #000000 0%, #64d8ff 75%);
  }
}
.logo {
  width: 150px;
  position: absolute;
}
.intro {
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  position: relative;
  width: 100%;
  height: 700px;
}
.intro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.intro__left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40%;
}
@media (max-width: 992px) {
  .intro__left {
    width: 47%;
  }
}
@media (max-width: 768px) {
  .intro__left {
    position: relative;
    width: 100%;
    top: 35%;
    text-align: center;
    height: 700px;
  }
}
.intro__title {
  font-size: 42px;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 992px) {
  .intro__title {
    font-size: 38px;
  }
}
@media (max-width: 570px) {
  .intro__title {
    font-size: 28px;
  }
}
.intro__text {
  font-size: 25px;
  color: #fff;
}
@media (max-width: 570px) {
  .intro__text {
    margin-bottom: 35px;
    font-size: 22px;
  }
}
.intro__calc {
  width: 315px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  background-color: rgba(255, 111, 2, 0.7);
  border: 2px solid #64d8ff;
  padding: 20px 17px 30px;
  border-radius: 20px;
}
@media (max-width: 768px) {
  .intro__calc {
    position: relative;
    margin: 0 auto;
    right: 0;
    width: 300px;
  }
}
.intro__calc-name {
  color: #fff;
  margin-bottom: 35px;
}
.intro__forma {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.intro__forma-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.intro__forma-label:last-child {
  margin-bottom: 0;
}
.intro__forma-input {
  width: 50px;
}
.intro__forma-text {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}
.intro__forma-btn {
  border: 2px solid #64d8ff;
  text-decoration: none;
  color: #fff;
  margin-left: 0;
  font-size: 14px;
}
.intro-wrapper {
  height: 650px;
}
@media (max-width: 768px) {
  .intro-wrapper {
    display: flex;
    flex-direction: column;
    height: 530px;
  }
}
.summa {
  width: 120px;
}
.benefit {
  padding-top: 70px;
}
@media (max-width: 530px) {
  .benefit {
    padding-top: 45px;
  }
}
.benefit__title {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  padding-bottom: 25px;
}
@media (max-width: 530px) {
  .benefit__title {
    font-size: 28px;
  }
}
.benefit__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 15%;
  background-color: #64d8ff;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.benefit__list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}
.benefit__list-left {
  display: flex;
  justify-content: space-around;
  max-width: 760px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 77px;
}
@media (max-width: 530px) {
  .benefit__list-left {
    margin-top: 35px;
  }
}
.benefit__list-right {
  width: 250px;
  transform: rotateY(180deg);
  position: absolute;
  right: 45px;
  top: 80px;
}
@media (max-width: 1190px) {
  .benefit__list-right {
    display: none;
  }
}
.benefit__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  min-height: 250px;
  text-align: center;
  background-color: #27af3c;
  border: 2px solid #64d8ff;
  padding: 20px 17px 30px;
  border-radius: 20px;
}
.benefit__item-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.benefit__item-text {
  padding: 0;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 530px) {
  .benefit__item-text {
    font-size: 16px;
    padding-top: 0;
  }
}
.benefit__item-sum {
  font-size: 77px;
  color: #fff;
  font-weight: 700;
}
@media (max-width: 530px) {
  .benefit__item-sum {
    font-size: 60px;
  }
}
.benefit__item-color {
  background-color: #ff6f02;
}
.advantages {
  padding-top: 100px;
  padding-bottom: 100px;
}
@media (max-width: 530px) {
  .advantages {
    padding-top: 45px;
  }
}
.advantages__title {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  padding-bottom: 25px;
}
@media (max-width: 530px) {
  .advantages__title {
    font-size: 28px;
  }
}
.advantages__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 15%;
  background-color: #64d8ff;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.advantages__list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  position: relative;
}
.advantages__list-left {
  display: flex;
  justify-content: space-around;
  max-width: 760px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 77px;
}
@media (max-width: 530px) {
  .advantages__list-left {
    margin-top: 35px;
  }
}
.advantages__list-right {
  width: 250px;
  top: 80px;
  position: absolute;
  left: 45px;
}
@media (max-width: 1190px) {
  .advantages__list-right {
    display: none;
  }
}
.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 250px;
  min-height: 250px;
  text-align: center;
  background-color: #27af3c;
  border: 2px solid #64d8ff;
  padding: 20px 17px 30px;
  border-radius: 20px;
}
.advantages__item-img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.advantages__item-text {
  padding: 0;
  padding-top: 15px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
@media (max-width: 530px) {
  .advantages__item-text {
    font-size: 16px;
    padding-top: 0;
  }
}
.advantages__item-sum {
  font-size: 77px;
  color: #fff;
  font-weight: 700;
}
.advantages__item-color {
  background-color: #ff6f02;
}
.banner {
  background-color: #64d8ff;
}
.banner__title {
  font-size: 28px;
  color: #fff;
  text-align: center;
}
.banner__text {
  color: #fff;
  font-size: 22px;
}
@media (max-width: 768px) {
  .banner__text {
    font-size: 16px;
  }
}
.banner__forma {
  display: flex;
  flex-direction: column;
  color: #fff;
}
.banner__forma-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.banner__forma-label:last-child {
  margin-bottom: 0;
}
.banner__forma-input {
  max-width: 220px;
  width: 100%;
  padding: 5px;
}
.banner__forma-text {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}
.banner__forma-btn {
  border: 2px solid #64d8ff;
  text-decoration: none;
  color: #fff;
  margin-left: 0;
  text-align: center;
  margin-top: 20px;
}
.banner-wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .banner-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.banner-left {
  width: 50%;
}
@media (max-width: 992px) {
  .banner-left {
    max-width: 500px;
    width: 100%;
  }
}
.banner-right {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  background-color: rgba(255, 111, 2, 0.7);
  border: 2px solid #64d8ff;
  padding: 5px 50px 30px;
  border-radius: 20px;
  justify-content: center;
}
.portfolio {
  background-color: #27af3c;
  padding: 65px 0 95px 0;
}
.portfolio__title {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  padding-bottom: 25px;
  color: #fff;
}
.portfolio__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 15%;
  background-color: #64d8ff;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.portfolio__list-thumb {
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
  width: 95%;
}
@media (max-width: 768px) {
  .portfolio__list-thumb {
    display: none;
  }
}
.portfolio__item-thumb {
  cursor: pointer;
  transition: background 300ms ease-in-out;
  background-color: rgba(255, 111, 2, 0.4);
  border: 2px solid #64d8ff;
  padding: 18px 15px 28px;
  border-radius: 20px;
  margin: 0 3px;
}
.portfolio__item-info {
  background-color: #fff;
  border-radius: 0 10px 10px 0;
  padding: 30px;
}
@media (max-width: 992px) {
  .portfolio__item-info {
    border-radius: 0px 0px 10px 10px;
  }
}
.portfolio__item-heading {
  font-size: 26px;
  line-height: 1.2;
}
.portfolio__item-description {
  line-height: 1.4;
  margin-top: 15px;
}
.portfolio__item-thumb > img {
  width: 210px;
}
.portfolio .thumb__text {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.25;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
}
.slick-initialized .slick-slide:focus {
  outline: none;
}
.portfolio__list-slider {
  margin-top: 60px;
}
.slick-initialized .slick-slide.portfolio__item-slide {
  display: flex;
  padding: 0 1px 2px 0;
}
@media (max-width: 992px) {
  .slick-initialized .slick-slide.portfolio__item-slide {
    flex-direction: column;
  }
}
.portfolio__item-thumb.slick-current,
.pportfolio__item-thumb:hover {
  background-color: rgba(255, 111, 2, 0.7);
}
.slick-arrow {
  position: absolute;
  top: calc(29%);
  cursor: pointer;
}
.slick-arrow.next-arrow {
  right: -33px;
  width: 50px;
  height: 50px;
  background-color: #ff6f02;
  display: inline-block;
  padding: 3px 12px;
  border-radius: 50%;
}
.slick-arrow.prev-arrow {
  left: -33px;
  width: 50px;
  height: 50px;
  background-color: #ff6f02;
  display: inline-block;
  padding: 3px 12px;
  border-radius: 50%;
  z-index: 1;
}
.working {
  padding-top: 60px;
  padding-bottom: 45px;
}
@media (max-width: 530px) {
  .working {
    padding-top: 45px;
  }
}
.working__title {
  font-size: 36px;
  margin-bottom: 40px;
  text-align: center;
  position: relative;
  padding-bottom: 25px;
}
.working__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 15%;
  background-color: #64d8ff;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.working__list {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .working__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.working__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}
@media (max-width: 768px) {
  .working__item {
    margin-bottom: 100px;
  }
}
.working__item:last-child {
  margin-bottom: 0;
}
.working__item:last-child:after {
  display: none;
}
.working__item:after {
  content: "";
  position: absolute;
  display: block;
  bottom: -30px;
  background-image: url(../img/1.png);
  width: 58px;
  height: 106px;
  left: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 768px) {
  .working__item:after {
    bottom: -95px;
  }
}
.working__info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ff6f02;
  border: 2px solid #64d8ff;
  padding: 20px 17px 30px;
  border-radius: 20px;
  color: #fff;
}
.working__text {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
@media (max-width: 460px) {
  .working__text {
    font-size: 16px;
  }
}
.working__img {
  margin-right: 30px;
  width: 160px;
  min-height: 345px;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .working__img {
    display: none;
  }
}
.working__img--width {
  width: 325px;
}
.reviews {
  background-color: #ff6f02;
  padding: 65px 0 95px 0;
}
.reviews__title {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  padding-bottom: 25px;
  color: #fff;
}
.reviews__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 15%;
  background-color: #64d8ff;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.reviews__list {
  margin-top: 50px;
}
.reviews__list .reviews__item {
  display: flex;
  justify-content: center;
}
@media (max-width: 768px) {
  .reviews__list .reviews__item {
    flex-direction: column;
  }
}
.reviews__illustration {
  display: flex;
}
.reviews__illustration-img {
  object-fit: cover;
  border-radius: 10px 0px 0px 10px;
}
@media (max-width: 768px) {
  .reviews__illustration-img {
    width: 100%;
  }
}
.reviews .portfolio__item-info {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0 10px 10px 0;
  padding: 30px;
  width: 60%;
}
@media (max-width: 768px) {
  .reviews .portfolio__item-info {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }
}
.reviews .portfolio__item-heading {
  font-size: 26px;
  line-height: 1.2;
}
.reviews .portfolio__item-description {
  line-height: 1.4;
  margin-top: 15px;
}
.certificates__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 60px;
  margin-bottom: 50px;
}
.certificates__list a {
  display: flex;
  width: 290px;
  height: 300px;
}
