.benefit {
  padding-top: 70px;

  &__title {
    font-size: 34px;
    margin-bottom: 55px;
    text-align: center;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__list-left {
    display: flex;
    justify-content: space-around;
    width: 760px;
    flex-wrap: wrap;
    margin-top: 77px;
  }

  &__list-right {
    width: 29%;
    margin-right: 57px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33%;
    min-height: 250px;
    text-align: center;
    background-color: #27af3c;
    border: 2px solid #64d8ff;
    padding: 20px 17px 30px;
    border-radius: 20px;
  }

  &__item-img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }

  &__item-text {
    padding: 0;
    padding-top: 15px;
    font-weight: 500;
    color: #fff;
  }

  &__item-sum {
    font-size: 77px;
    color: #fff;
    font-weight: 700;
  }

  &__item-color {
    background-color: #ff6f02;
  }
}